<div class="row">
  <% for place in @places %>
    <div class="col-3">
      <h4><%= place["title"] %></h4>
      <p><%= place["description"] %></p>
      <p><%= place["date"] %></p>
    </div>
  <% end %>
</div>