<h1>New Place</h1>

<form action="/places" method="place">
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" name="title">
  </div>
  <div>
    <label for="description">description</label>
    <input type="text" id="description" name="description">
  </div>
  <button>Submit</button>
</form>
